.modal {
  display: flex; /* Utilise Flexbox pour centrer le contenu */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  position: fixed; /* Position fixe */
  z-index: 1050; /* Z-index pour le modal */
  left: 0;
  top: 0;
  width: 1000px; /* Largeur complète */
  height: 100%; /* Hauteur complète */
  margin-left: 185px;
 margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}
.modal-body{
  height:100%;
  width:  90%;  
  overflow-y: scroll;
}

.modal-dialog {
  max-width: 850px; /* Largeur maximale du modal */
  width: 100%; /* Largeur complète jusqu'à la largeur maximale */
  margin: 0; /* Supprime la marge par défaut */
}
