/* You can add global styles to this file, and also import other style files */

//@import '../src/assets/feane/css/bootstrap.css';
@import '../src/assets/feane/css/style.css';
//@import "../src/assets/feane/css/responsive.css";

@import "../src/assets/metro/assets/css/style.bundle.css";
@import "../src/assets/metro/assets/plugins/global/plugins.bundle.css";
//@import "../src/assets/metro/assets/plugins/custom/datatables/datatables.bundle.css";



html, body { height: auto; }
body { padding:0; margin: 0; box-sizing: border-box; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
