/* Styles globaux */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}


.background {
  background-image: url('https://media.istockphoto.com/id/1293175039/photo/handsome-black-african-american-food-delivery-courier-posing-in-front-of-the-camera-in-a.jpg?s=612x612&w=0&k=20&c=KucST70kZoQAqYcPoRceQM0S5wGYsYaO7-fF72yJe7I='); /* Remplacez par votre URL d'image */
  background-size: cover; /* Couvre toute la surface */
  background-position: center; /* Centre l'image */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  width: 100vw; /* Prend toute la largeur de la fenêtre */
  display: flex; /* Utilise Flexbox pour centrer le contenu */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

/* Styles de la carte */
.card1 {
  background-color: rgba(255, 255, 255, 0.8); /* Fond blanc avec transparence */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre pour la carte */
  padding: 20px; /* Espacement interne */
  width: 100%; /* Largeur de la carte */
  max-width: 1800px;
  height: 900px;/* Largeur maximale */
  text-align: center; /* Centre le texte */
}

h2 {
  margin: 0 0 10px; /* Marges pour le titre */
}

button {
  padding: 10px 20px; /* Espacement interne du bouton */
  background-color: #007BFF; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis du bouton */
  cursor: pointer; /* Curseur de pointeur */
}

button:hover {
  background-color: #0056b3; /* Couleur du bouton au survol */
}

h5{
  font-family: "Open Sans", sans-serif;
}
.modal {
  display: flex; /* Utilise Flexbox pour centrer le contenu */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  position: fixed; /* Position fixe */
  z-index: 1050; /* Z-index pour le modal */
  left: 0;
  top: 0;
  width: 100%; /* Largeur complète */
  height: 100%; /* Hauteur complète */
  overflow: hidden; /* Pas de défilement */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.modal-dialog {
  max-width: 730px; /* Largeur maximale du modal */
  width: 100%; /* Largeur complète jusqu'à la largeur maximale */
  margin: 0; /* Supprime la marge par défaut */
}
